Repository bolt/core, pull requests merged in 2021-07, with the labels that each got.

#2663 Fix incorrect error when uploading an allowed filetype, that isn't an image
  src/Controller/Backend/Async/UploadController.php
  src/Factory/MediaFactory.php
Labels: 🐛 tag: bug fix

#2662 Create a cypress test for the translations page
  tests/cypress/integration/backend_translations.spec.js
  tests/e2e/backend_translations.feature
Labels: topic: Tests

#2665 Created cypress test for the homepage
  tests/cypress/integration/homepage.spec.js
  tests/e2e/homepage.feature
Labels: topic: Tests

#2666 Created cypress test for extension routing
  tests/cypress/integration/extension_routing.spec.js
  tests/e2e/extension_routing.feature
Labels: topic: Tests

#2667 Created cypress test for the dashboard listings
  tests/cypress/integration/display_listings.spec.js
  tests/e2e/display_listing.feature
Labels: topic: Tests

#2668 Created cypress test for widgets
  tests/cypress/integration/widgets.spec.js
  tests/e2e/widgets.feature
Labels: topic: Tests

#2669 Created cypress test for display record and fixed a typo in content fixtures
  src/DataFixtures/ContentFixtures.php
  tests/cypress/integration/display_record_test.spec.js
  tests/e2e/display_record_test.feature
Labels: topic: Tests

#2670 Created cypress test for displaying taxonomies + added cypress library for easier work
  package-lock.json
  package.json
  tests/cypress/integration/display_taxonomies.spec.js
  tests/cypress/support/index.js
Labels: topic: Tests

#2675 Fix `If condition is always true` on new phpstan
  src/Command/CopyAssetsCommand.php
Labels: topic: Tests

#2671 Created cypress test for the kitchensink page
  tests/cypress/integration/kitchensink.spec.js
  tests/e2e/kitchensink.feature
Labels: topic: Tests

#2674 Removed display_taxonomies.feature file
  tests/e2e/display_taxonomies.feature
Labels: topic: Tests

#2676 Created cypress test for display_record
  tests/cypress/integration/display_record.spec.js
  tests/e2e/display_record.feature
Labels: topic: Tests

#2679 Created cypress test for displaying search results and fixed an html formatting error
  public/theme/skeleton/search.twig
  tests/cypress/integration/display_search.spec.js
  tests/e2e/display_search.feature
Labels: topic: Tests

#2680 Created cypress test for logging in with wrong credentials
  tests/cypress/integration/login.spec.js
  tests/e2e/login.feature
Labels: topic: Tests

#2683 Created cypress for file manager
  tests/cypress/integration/filemanager.spec.js
  tests/e2e/filemanager.feature
Labels: topic: Tests

#2684 Created cypress tests for filtering and visibility of listings
  tests/cypress/integration/record_listing.spec.js
  tests/e2e/record_listing.feature
Labels: topic: Tests

#2677 Created cypress test for frontend_menu
  tests/cypress/integration/frontend_menu.spec.js
  tests/e2e/frontend_menu.feature
Labels: topic: Tests

#2681 Created cypress test for bulk actions
  tests/cypress/integration/bulk_actions.spec.js
  tests/e2e/bulk_actions.feature
Labels: topic: Tests

#2682 Created cypress test for filtering on the dashboard
  tests/cypress/integration/dashboard_globalsearch.spec.js
  tests/e2e/dashboard_globalsearch.feature
Labels: topic: Tests

#2689 Created cypress test for edit_record_1(changing titles)
  tests/cypress/integration/edit_record_1_change_title.spec.js
Labels: topic: Tests

#2686 Don't lowercase values in queries, allow for booleans
  src/Doctrine/JsonHelper.php
  src/Storage/SelectQuery.php
Labels: 🐛 tag: bug fix

#2688 Created cypress test for record localization and fixed a formatting error in the edit page's header
  templates/content/edit.html.twig
  tests/cypress/integration/record_localization.spec.js
  tests/e2e/record_localization.feature
Labels: topic: Tests

#2709 Fix test for sorting content
  tests/cypress/integration/record_listing.spec.js
  tests/cypress/integration/record_localization.spec.js
Labels: topic: Tests

#2673 Created cypress tests for the setcontent page
  tests/cypress/integration/setcontent.spec.js
  tests/e2e/setcontent.feature
Labels: topic: Tests

#2690 Created cypress test for viewing the user and session tables
  tests/cypress/integration/view_users_tables.spec.js
Labels: topic: Tests

#2691 Created cypress test for disabling and enabling a user
  tests/cypress/integration/disable_enable_user.spec.js
Labels: topic: Tests

#2695 Created cypress test for fields
  tests/cypress/integration/edit_record_1_field.spec.js
Labels: topic: Tests

#2696 Created cypress tests for editing users and removed users.feature
  tests/cypress/integration/edit_users.spec.js
  tests/e2e/users.feature
Labels: topic: Tests

#2697 Reuploading cypress test for filling in lists
  tests/cypress/integration/edit_record_1_fill_list.spec.js
Labels: topic: Tests

#2698 Created cypress test for contents found in edit_record_1.feature
  tests/cypress/integration/edit_record_1_content.spec.js
Labels: topic: Tests

#2699 Created cypress test for filling in sets and collections + removing .feature file
  tests/cypress/integration/edit_record_1_fill_set_collection.spec.js
  tests/e2e/edit_record_1.feature
Labels: topic: Tests

#2700 Wrote documentation for using cypress with bolt
  tests/cypress/README.md
Labels: topic: Tests

#2704 Created tests for content type permissions
  tests/cypress/integration/contenttype_permissions.spec.js
Labels: topic: Tests

#2706 Created cypress test for editor permissions
  tests/cypress/integration/editor_permissions.spec.js
Labels: topic: Tests

#2707 Created cypress test for user permissions
  tests/cypress/integration/user_permissions.spec.js
Labels: topic: Tests

#2708 Created partial cypress test for edit_record_2
  tests/cypress/integration/edit_record_2.spec.js
  tests/e2e/edit_record_2.feature
Labels: topic: Tests

#2705 Created cypress test for checking chief editor permissions
  tests/cypress/integration/chief_editor_permissions.spec.js
Labels: topic: Tests

#2693 Created cypress test for creating and deleting users
  tests/cypress/integration/create_delete_user.spec.js
Labels: topic: Tests

#2711 Replace `_` with space in Field labels
  src/Configuration/Parser/ContentTypesParser.php
Labels: 🍏 low hanging fruit

#2712 Allow whitespace in `orderby` in setcontent queries
  src/Storage/Directive/OrderDirective.php
Labels: 🍏 low hanging fruit, 🐛 tag: bug fix

#2713 Prepare release 4.1.23
  CHANGELOG.md
  assets/js/version.js
  package-lock.json
  package.json
  src/Version.php
Labels: 🧹 Chore

#2694 Store videos and screenshots of failed Cypress tests
  .github/workflows/cypress_tests.yaml
  package.json
  tests/cypress/cypress-ci.json
  tests/cypress/cypress-dev.json
Labels: topic: Tests

#2714 Fix fallback for missing `_edit_locale`
  src/Controller/Backend/ContentEditController.php
Labels: 🐛 tag: bug fix

#2715 [4.x] Simplify, don't mangle username on incorrect input for Login
  src/Controller/Backend/AuthenticationController.php
Labels: 🐛 tag: bug fix

#2716 [5.x] Simplify, don't mangle username on incorrect input for Login
  src/Controller/Backend/AuthenticationController.php
  src/Form/LoginType.php
Labels: 🐛 tag: bug fix

#2725 Update to newest chromedriver in behat CI tests
  .github/workflows/behavioural_tests.yaml
Labels: topic: Tests

#2724 Fix filtering for multiselect field values
  src/Storage/Directive/OrderDirective.php
  src/Storage/FieldQueryUtils.php
  src/Storage/SelectQuery.php
Labels: 🐛 tag: bug fix

#2726 Add a ContentFactory with static and dynamic create and upsert
  src/Factory/ContentFactory.php
Labels: tag: enhancement

#2727 Fix issue with incorrectly named `autocomplete` option
  assets/js/app/editor/Components/Select.vue
  src/Configuration/Content/FieldType.php
  templates/_partials/fields/select.html.twig
  tests/php/Configuration/Parser/ContentTypesParserTest.php
Labels: tag: enhancement, 🐛 tag: bug fix

#2729 Prepare release 4.2.0-rc.1
  package-lock.json
  src/Version.php
Labels: 🧹 Chore

#2730 Prepare release 5.0.0 beta 12
  package-lock.json
  src/Version.php
Labels: 🧹 Chore

#2710 Introduce new cypress tests
  config/bolt/permissions.yaml
  tests/cypress/README.md
  tests/cypress/cypress-dev.json
  tests/cypress/integration/chief_editor_permissions.spec.js
  tests/cypress/integration/contenttype_permissions.spec.js
  tests/cypress/integration/create_delete_user.spec.js
  tests/cypress/integration/disable_enable_user.spec.js
  tests/cypress/integration/edit_record_1_content.spec.js
  tests/cypress/integration/edit_record_1_field.spec.js
  tests/cypress/integration/edit_record_1_fill_list.spec.js
  tests/cypress/integration/edit_record_1_fill_set_collection.spec.js
  tests/cypress/integration/edit_record_2.spec.js
  tests/cypress/integration/edit_users.spec.js
  tests/cypress/integration/editor_permissions.spec.js
  tests/cypress/integration/record_localization.spec.js
  tests/cypress/integration/setcontent.spec.js
  tests/cypress/integration/user_permissions.spec.js
  tests/cypress/integration/view_users_tables.spec.js
  tests/e2e/edit_record_1.feature
  tests/e2e/edit_record_2.feature
  tests/e2e/setcontent.feature
  tests/e2e/users.feature
Labels: topic: Security, topic: Tests
